#query
  = render :partial => "search/search_box", :locals => {:center => false, :message => "Found #{@results.total_entries} sermons."}

  .grid_8
    #results
      - @results.each_with_weighting do |r, weight|
        .result
          .date= r.published_date.strftime("%B %d %Y")
          %h3.title= link_to r.title, r.url
          %p= r.excerpts.content.html_safe

    = will_paginate @results, :class => "pagination", :params => { :search => @search }
