= "** This site is in no way affliated with "
= link_to('The Village Church', "http://thevillagechurch.com")
= "and/or the person of Matt Chandler. It was intended, by the "
= link_to('author', "http://twitter.com/tcopp") + ","
= "to be a resource for community and the glory of God."
