= "** This site is in no way affiliated with "
= link_to('The Village Church', "http://thevillagechurch.com")
= "and/or the person of Matt Chandler. It is intended, by the "
= link_to('author', "http://twitter.com/tcopp") + ","
= "to be a resource to the community and for the glory of God."
